# 图像处理
Python-Image-feature-extraction-master/Image
Python-Image-feature-extraction-master/__pycache__


# TDA
skin_TDA-master/datas
skin_TDA-master/Image


*.jpg
*.png
.R*
*.xls

My_image
*.pdf
.idea/
.vscode/
__pycache__
.ipynb_checkpoints
tempCodeRunnerFile.py